<table class="table">
  <thead>
    <tr>
      <th>Петиция</th>
      <th>Дата создания</th>
      <th>Действия</th>
    </tr>
  </thead>
  <% @petitions.each_with_index do |petition, index| %>
  <tr>
    <td><%= link_to petition.title, "petitions/#{index+1}" %></td>
    <td><%= petition.created_at.strftime("%d/%m/%Y %H:%M") %></td>
    <td><%= link_to "Редактировать", petition_path(petition), method: :patch %>
    <%= link_to "Удалить", petition_path(petition), method: :delete, data: { confirm: 'Уверены?' } %></td>
  </tr>
  <% end %>
</table>